{% extends "base.html" %}


{% load static %}


{% block title %}PyBursa Student Details{% endblock %}


{% block navbar_students %}active{% endblock %}


{% block content %}
    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h2>{{ student.name }} {{ student.surname }}</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="row">
            <div class="col-xs-4 col-lg-4 ">
              <table class="table">
                <thead>
                  <tr>
                    <td>Birth date</td>
                    <td>{{ student.date_of_birth }}</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Address</td>
                    <td>{{ student.address }}</td>
                  </tr>
                  <tr>
                    <td>email</td>
                    <td>{{ student.email }}</td>
                  </tr>
                  <tr>
                    <td>Skype</td>
                    <td>{{ student.skype }}</td>
                  </tr>
                  <tr>
                    <td>phone</td>
                    <td>{{ student.phone }}</td>
                  </tr>
                  <tr>
                    <td>course</td>
                    <td>
                      {% for course in student.courses.all %}
                        <p><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></p>
                      {% endfor %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
   </div>
{% endblock content %}