{% extends "base.html" %}


{% load static %}


{% block title %}students list{% endblock %}


{% block navbar_students %}active{% endblock %}


{% block content %}


{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<a href="{% url 'students:add' %}" class="btn btn-primary" role="button">
  Add new student
</a>
      <div class="page-header">
        <h2>Students list</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Skype</th>
                <th>Course</th>
              </tr>
            </thead>
            <tbody>

            {% for student in student_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
                <td>{{ student.address }}</td>
                <td>{{ student.skype }}</td>
                <td>
                  {% for course in student.courses.all %}
                    <p><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></p>
                  {% endfor %}
                </td>
                <td>
                  <a href="{% url 'students:edit' student.pk  %}" class="btn btn-primary" role="button">Edit</a>
                </td>
                <td>
                  <a href="{% url 'students:remove' student.pk  %}" class="btn btn-primary" role="button">Delete</a>
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li>
                {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}" aria-label="<< previous">
                      <span aria-hidden="true">&laquo;</span>
                      previous
                  </a>
                {% endif %}
              </li>
              {% for page in paginator.page_range %}

                {% if page_obj.number == page %}
                  <li class="active">
                    <a href="#" class="disabled">{{ page }}</a>
                  </li>
                {% else %}
                  <li>
                    <a href="?page={{ page }}" class="disabled">{{ page }}</a>
                  </li>
                {% endif %}

              {% endfor %}
              {% if page_obj.has_next %}
              <li>
                <a href="?page={{ page_obj.next_page_number }}" aria-label="next >>">
                  <span aria-hidden="true">&raquo;</span>
                  next
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
    </div>
{% endblock content %}