#id1 {color:#04B404; font-weight: bold; font-style: oblique}
#id2 {color:#0174DF; text-decoration: underline; font-style: italic}
#id3 {font-weight:bold}
#id4 {text-align:center}
#id5 {color:red}
#id6 {color:red; font-weight: bold}
#id7 {color:#D7DF01; font-weight: bold}
#id8 {color:#04B404; font-weight: bold}
.selector_h1 {color:#0174DF; text-decoration: underline }
h3.selector_h3 {font-style: italic}
p.selector_p {font-style: italic}
.selector_li {font-weight: bold}
li  {text-decoration: underline}



