body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.founders {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #fff;
    list-style: none;
}
.text {
    font-family: Helvetica;
}
.header--course-desc {
    color: #222;
}
.founders__image {
    width: 100%;
    height: auto;
    max-width: 320px;
    transition: 0.3s;
}
.founders__item:hover .founders__image {
    transform: rotate3d(0,1,0,360deg);
    transition: 0.7s;
}
.founders__item {
    flex: 0 0 30%;
}
.table {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.table__row {
    display: flex;
    justify-content: space-between;
    background: #F4C63D;
    margin-bottom: 3px;
    padding: 10px 20px;
}
.table__row:hover {
    background: #F4F63D;
}
.table__row--head {
    background: #c0a16b;
}
.table__cell {
    flex: 1 1 10%;
    display: flex;
    align-items: center;
    padding: 15px;
}
.table__cell--long {
    flex-basis: 60%;
}
.table__main-holder {
    display: flex;
    justify-content: space-between;
}
.table__wrapper {
    flex: 1 1 100%;
    margin: 0 15px;
}
.student-detail__image {
    max-width: 320px;
    height: auto;
}
.quadratic-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .table__main-holder {
        flex-wrap: wrap;
    }
}