<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Бурлаков	Алексей - студент pyBursa курса Веб-разработка на Python&Django</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
				  <a class="navbar-brand" href="{% url 'index' %}">
				    <img id='logo_itBursa' alt="Brand" src="{% static '/images/logo1.png' %}">
				  </a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
				    <li><a href="{% url 'index' %}">Main</a></li>
				    <li><a href="{% url 'contact' %}">Contacts</a></li>
            <li><a href="{% url 'student_list' %}">Students</a></li>
				  </ul>
				  
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


    <div class="container">
      <h1 class="my_descript">Бурлаков	Алексей</h1>
      <h2>информация о студенте</h2>
    </div>
    
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">Бурлаков</span>
          Surname
        </li>
        <li class="list-group-item">
          <span class="badge">Алексей</span>
          Name
        </li>
        <li class="list-group-item">
          <span class="badge">Александрович</span>
          Patronymic
        </li>
        <li class="list-group-item">
          <span class="badge">20.05.1977</span>
          Birth Date
        </li>
        <li class="list-group-item">
          <span class="badge">Киев 1, Крещатик 26, до востребования</span>
          Address
        </li>
        <li class="list-group-item">
          <span class="badge">alex.tsumibito@gmail.com</span>
          E-mail
        </li>
        <li class="list-group-item">
          <span class="badge">alex.tsumibito</span>
          Skype
        </li>
      </ul>
    </div> 

    <div class="container">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Performance</div>
        <!-- Table -->
        <table class="table">
          <tr>
            <td>Cource</td>
            <td>Week</td>
            <td>Control Type</td>
            <td>Grade</td>
          </tr>
          <tr>
            <td>Веб-разработка на Python&Django</td>
            <td>Week 1</td>
            <td>Problem Task #1</td>
            <td>99%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Tests #1</td>
            <td>100%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Tests #2</td>
            <td>100%</td>
          </tr>
          <tr>
            <td></td>
            <td>Week 2</td>
            <td>Problem Task #1</td>
            <td>80%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Problem Task #2</td>
            <td>101%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Tests #1</td>
            <td>100%</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="container">
      <h3>Average Grade  <span class="label label-default">91%</span></h3>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 91%">
          <span class="sr-only">Average Grade (success)</span>
        </div>
      </div>
      <h3>Rating  <span class="label label-default">77%</span></h3>
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
          <span class="sr-only">Rating</span>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/js/bootstrap.js' %}"></script>
  </body>
</html>
