{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="video-background" style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe frameborder="0" height="100%" width="100%" src="https://www.youtube.com/embed/0Xg2PshET_0?autoplay=1&controls=0&showinfo=0&autohide=1"></iframe>
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/A-ogMtkeavE" frameborder="0" allowfullscreen></iframe>-->
</div>
<main class="main">
    <h1 class="founders__main-header">Our Crew</h1>
    <ul class="founders">
        <li class="founders__item">
            <h2 class="founders__header">Director</h2>
            <img src="http://www.globalo.com/content/uploads/2015/12/darth-vader.jpg" alt="" class="founders__image">
            <p class="founders__name">Name: Anakin Skywalker</p>
            <p class="founders__skype">Skype: Vader222</p>
            <p class="founders__phone">Phone: 076 200 7007</p>
        </li>
        <li class="founders__item">
            <h2 class="founders__header">Manager</h2>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/31/6e/32/316e327d1fe324e373bf1dc6e8b2d152.jpg" alt="Obi Wan Kenobi" class="founders__image">
            <p class="founders__name">Name: Obi Wan Kenobi </p>
            <p class="founders__skype">Skype: Kenobi67</p>
            <p class="founders__phone">Phone: 076 200 6777</p>
        </li>
        <li class="founders__item">
            <h2 class="founders__header">Founder</h2>
            <img src="http://vignette2.wikia.nocookie.net/starwars/images/d/d6/Yoda_SWSB.png/revision/latest?cb=20150206140125" alt="" class="founders__image">
            <p class="founders__name">Name: Yoda</p>
            <p class="founders__skype">Skype: Batman666</p>
            <p class="founders__phone">Phone: 076 200 6666</p>
        </li>
    </ul>
</main>
{% endblock content %}