{% extends "base.html" %}

{% block title %}HappyBursa{% endblock %}

{% block content %}
<main class="main">
    <h1 class="header main__header--course-name">HappyBursa</h1>
    <div class="inner-wrapper">
        <h2 class="header header--course-desc">Description - Hardcore Python Course</h2>
        <strong>Program</strong>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dignissimos dolorum eaque enim eveniet excepturi ipsa maxime, molestiae odio, pariatur quasi quia quis sapiente sunt voluptatem. Cupiditate iure labore quaerat.</p>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dignissimos dolorum eaque enim eveniet excepturi ipsa maxime, molestiae odio, pariatur quasi quia quis sapiente sunt voluptatem. Cupiditate iure labore quaerat.</p>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dignissimos dolorum eaque enim eveniet excepturi ipsa maxime, molestiae odio, pariatur quasi quia quis sapiente sunt voluptatem. Cupiditate iure labore quaerat.</p>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dignissimos dolorum eaque enim eveniet excepturi ipsa maxime, molestiae odio, pariatur quasi quia quis sapiente sunt voluptatem. Cupiditate iure labore quaerat.</p>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dignissimos dolorum eaque enim eveniet excepturi ipsa maxime, molestiae odio, pariatur quasi quia quis sapiente sunt voluptatem. Cupiditate iure labore quaerat.</p>
    </div>
</main>
{% endblock content %}