{% extends "base.html" %}

{% block title %}Student List{% endblock %}

{% block content %}
<main>
    <h1 class="student-list__heading">HappyBursa Students</h1>
    <span class="student-list__descr">Below u can see the list of students</span>
    <div class="table student-list__table">
        <div class="table__row table__row--head">
            <span class="table__cell">No</span><span class="table__cell">Surname</span><span class="table__cell">Name</span><span class="table__cell table__cell--long">Address</span><span class="table__cell">Skype</span>
        </div>
        <a href="{% url 'student_detail' %}" class="table__row"><span class="table__cell">1</span><span class="table__cell">Ivanov</span><span class="table__cell">Ivan</span><span class="table__cell table__cell--long">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis delectus maiores modi necessitatibus nihil, possimus ratione sint veritatis voluptas. A consectetur consequatur fuga, obcaecati repellendus similique voluptate? Ullam, veritatis?</span><span class="table__cell">Ptter212</span></a>
        <a href="{% url 'student_detail' %}" class="table__row"><span class="table__cell">2</span><span class="table__cell">Petrov</span><span class="table__cell">Peter</span><span class="table__cell table__cell--long">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eaque illo inventore tenetur. Aspernatur deserunt nesciunt nisi, possimus quos vero. Consectetur corporis error inventore, labore minus necessitatibus repellendus sapiente similique?</span><span class="table__cell">Ivan45</span></a>
        <a href="{% url 'student_detail' %}" class="table__row"><span class="table__cell">3</span><span class="table__cell">Sidorov</span><span class="table__cell">Sidor</span><span class="table__cell table__cell--long">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eveniet vitae voluptas voluptatum? Delectus, iure quibusdam. Autem consectetur distinctio eum, exercitationem fuga illo iste magni modi neque nesciunt reiciendis voluptas.</span><span class="table__cell">324sidr</span></a>
        <a href="{% url 'student_detail' %}" class="table__row"><span class="table__cell">4</span><span class="table__cell">Malyavin</span><span class="table__cell">Mikhailo</span><span class="table__cell table__cell--long">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque debitis, dignissimos exercitationem facere illo ipsa ipsam modi nam nisi odio officiis omnis quia quis sunt velit veniam. Sapiente, soluta.</span><span class="table__cell">muxah1211</span></a>
        <a href="{% url 'student_detail' %}" class="table__row"><span class="table__cell">5</span><span class="table__cell">Lazy</span><span class="table__cell">Boy</span><span class="table__cell table__cell--long">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet ex hic iure, magnam magni modi molestiae quasi similique, tempore temporibus ut voluptates. Aliquid at, ducimus magni molestiae odio quia?</span><span class="table__cell">lazzzyy</span></a>
    </div>
</main>
{% endblock content %}