{% extends "base.html" %}

{% load static %}


{% block title %}PyBursa Contacts{% endblock %}


{% block navbar_contact %}active{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
        <h4 class="section-heading"><b class="fa-3x">Director</b></h4>
          <div class="col-xs-2 col-xs-offset-2 text-center">
          <p><span class="fa glyphicon glyphicon-user">Name: </span> Ivan Ivan</p>
        </div>
          <div class="col-sm-2 text-center">
            <p><span class="fa glyphicon glyphicon-headphones">Skype: </span> ivan_skype</p>
          </div>
        <div class="col-lg-3 text-center">
          <p><span class="fa glyphicon glyphicon-envelope">Email: </span><a href="mailto:your-email@your-domain.com"> ivan@pybursa.com</a></p>
        </div>
        <div class="col-lg-2 text-center">
          <p><span class="fa glyphicon glyphicon-phone">Phone:</span> 123-456-6789</p>
        </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
        <h4 class="section-heading"><b class="fa-3x">Manager</b></h4>
          <div class="col-xs-2 col-xs-offset-2 text-center">
          <p><span class="fa glyphicon glyphicon-user">Name: </span> Ivan Ivan</p>
        </div>
          <div class="col-sm-2 text-center">
            <p><span class="fa glyphicon glyphicon-headphones">Skype: </span> ivan_skype</p>
          </div>
        <div class="col-lg-3 text-center">
          <p><span class="fa glyphicon glyphicon-envelope">Email: </span><a href="mailto:your-email@your-domain.com"> ivan@pybursa.com</a></p>
        </div>
        <div class="col-lg-2 text-center">
          <p><span class="fa glyphicon glyphicon-phone">Phone:</span> 123-456-6789</p>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <h4 class="section-heading"><b class="fa-3x">Founder </b></h4>
          <div class="col-xs-2 col-xs-offset-2 text-center">
          <p><span class="fa glyphicon glyphicon-user">Name:</span>Ivan Ivan</p>
        </div>
          <div class="col-sm-2 text-center">
            <p><span class="fa glyphicon glyphicon-headphones">Skype: </span> ivan_skype</p>
          </div>
        <div class="col-lg-3 text-center">
          <p><span class="fa glyphicon glyphicon-envelope">Email: </span><a href="mailto:your-email@your-domain.com"> ivan@pybursa.com</a></p>
        </div>
        <div class="col-lg-2 text-center">
          <p><span class="fa glyphicon glyphicon-phone">Phone:</span> 123-456-6789</p>
        </div>
    </div>
  </div>
{% endblock content %}