{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Pythn Django course">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/python.png' %}">

    <title>PyBursa Контакты</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   
    <!-- Custom styles for this template -->
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">PyBursa</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li><a href="{% url 'index' %}">Main</a></li>  

            <li class="active"><a href="{% url 'contact' %}">Contacts</a></li>
            <li><a href="{% url 'student_list' %}">Students</a></li>
                      
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img  src="{% static 'images/director.png' %}">
            <h2>Director</h2>
            <p class="contacts">Name: Ivan Ivanov </p>
            <p><b>Skype:</b>iviv</p>
            <p class="email"><b>Email:</b> ivanov@mail.com</p>
            <p class="phone"><b>Phone:</b> <b>0800-500-100</b></p>
          </div>  

        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img width="255" src="{% static 'images/manager.png' %}">
            <h2>Manager</h2>
            <p class="contacts">Name: Dmitriy Vodovich</p>
            <p><b>Skype:</b>dmitvo</p>
            <p class="email"><b>Email:</b> vodovich@mail.com</p>
            <p class="phone"><b>Phone:</b> <b>0800-500-200</b></p>
          </div>
       </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img height="240" src="{% static 'images/founder.png' %}">
            <h2>Founder</h2>
            <p class="contacts">Name: Oleg Kirov </p>
            <p><b>Skype:</b>olki</p>
            <p class="email"><b>Email:</b> kirov@mail.com</p>
            <p class="phone"><b>Phone:</b> <b>0800-500-600</b></p>
          </div>
        </div>
        </div>
        </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   
    
  </body>
</html>
