<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>Contact page Bootstrap</title>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Control task">
    <meta name="author" content="Ryabko Konstantin">
    <link rel="icon" href="../static/images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/navbar.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default" style="background-color: transparent">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="navbar-btn"><a href="index.html">Main</a></li>
              <li class="navbar-btn"><a href="contact.html">Contacts</a></li>
              <li class="navbar-btn"><a href="student_list.html">Students</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <header>
          <h1>Contacts list</h1>
      </header>
      <div class="jumbotron">
        <h2>Director</h2>
          <p class = "text-danger">Name: Ivan Bondarenko</p>
          <p class = "active">Skype: bondarNetov</p>
          <p class = "bg-success">Email: bondarNetov@nowhere.mail</p>
          <p class = "well">Phone: +38 854-712-25-55 </p>
        <h2>Manager</h2>
          <p class = "text-danger">Name: Valeria Fomina</p>
          <p class = "active">Skype: ValeriaFomina</p>
          <p class = "bg-success">Email: Fomina@sample.net</p>
          <p class = "well">Phone: +38 458-547-12-51 </p>
        <h2>Founder </h2>
          <p class = "text-danger">Name: Aleksey Radchenko</p>
          <p class = "active">Skype: AlRadchenko</p>
          <p class = "bg-success">Email: Radchenko@dot.com</p>
          <p class = "well">Phone: +45 854-212-52-14 </p>
        <h4>Slaves:</h4>
        <p id="style1" class="style2">Style slave</p>
        <p id="style2" class="bottom-left">Content slave</p>
        <p id="style3" class="bottom-right">Page validation slave</p>
      </div>
      <a href="../templates/index.html">Main</a>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--suppress HtmlUnknownTarget -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
