{% extends "base.html" %}


{% load static %}


{% block title %}PyBursa Main Page{% endblock %}


{% block navbar_index %}active{% endblock %}


{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
	<section>
		<div class="page-header">
	  		<h1>Our courses</h1>
		</div>
	 	<div class="row">
	        <div class="col-md-12">
	          <table class="table table-striped">
	            <thead>
	              <tr>
	                <th>Course</th>
	                <th>Description</th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for course in courses %}
	                <tr>
	                  <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
	                  <td>{{ course.short_description|truncatechars:50 }}</td>
	                  <td><a href="{% url 'courses:edit' course.pk  %}" class="btn btn-primary" role="button">Edit</a></td>
                	  <td><a href="{% url 'courses:remove' course.pk  %}" class="btn btn-primary" role="button">Delete</a></td>
	                </tr>
	              {% endfor %}
	            </tbody>
	          </table>
	        </div>
	    </div>
	    <p><a class="btn btn-primary btn-lg" href="{% url 'courses:add' %}" role="button">Add new course</a></p>
		<p><a class="btn btn-primary btn-lg" href="{% url 'contact' %}" role="button">Learn more</a></p>
	</section>

{% endblock content %}
