<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ItBursa - Main</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-education"></span> ItBursa</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Main</a></li>
        <li><a href="contact.html">Contacts</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h2 align="center"><span class="font_size_120">Онлайн курс «Веб-разработка на Python&Django</span></h2>
    <h1>Description</h1>
    <p class="red_color"><span class="font_size_110">ItBursa</span> — это современная онлайн школа веб-разработки и программирования. Мы хотим сделать IT образование качественным, полезным и доступным.
    <p class="orange_color"><span class="font_size_100">Мы делаем</span> упор на то, чтобы студенты не только освоили синтаксис языка и стандартные операции, а поняли ключевые принципы работы именно этого языка и работы программиста вообще. С самого начала, с самого базового уровня мы учим не «языку программирования в вакууме», а языку программирования и практике его применения.</p>
    <p class="grey_color"><span class="font_size_90">Мы даем</span> много домашних заданий. Мы отчисляем за неуспеваемость. У нас есть только один вид дипломов — «успешно закончил курс». Мы гарантируем качество нашего образования.</p>
    <p class="green_color">Не понимаете, с чего начать учиться программированию? Устали от однообразных туториалов? </p>
    <p class="blue_color"><span class="font_size_130">Начали слушать онлайн курс и бросили? Приходите к нам.</span> 
    У нас не бросают.</p>
  </div>

  <div>
  <div class="container">
  <h1>Program</h1>
      <ul class="list-group">
        <li class="list-group-item">1 неделя. Введение в курс дела и основы Python</li>
        <li class="list-group-item">2 неделя. Функции и модульность</li>
        <li class="list-group-item">3 неделя. ООП, IO, daytime</li>
        <li class="list-group-item">4 неделя. Основы веб-технологий</li>
        <li class="list-group-item">5 неделя. Начало работы с Django</li>
        <li class="list-group-item">6 неделя. Django, models, ORM, admin</li>
        <li class="list-group-item">7 неделя. Django: язык шаблонов и работа с web-формами</li>
        <li class="list-group-item">8 неделя. Django: CBV, Реализация стандартных задач</li>
        <li class="list-group-item">9 неделя. Django: Средства отладки и тестирования, Деплоймент</li>
      </ul>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>