<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Control task">
    <meta name="author" content="VOlny">
	<link rel="icon" href="../static/images/favicon.jpg">
    <title>CompuBursa :: Main</title>

	<link rel="shortcut icon" href="favicon.jpg">

    <!-- Bootstrap -->
	<!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

  </head>
  <body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	  <div class="container">
	    <strong><a class="navbar-brand" href="index.html">CompuBursa</a></strong>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Main</a></li>
            <li><a href="contact.html">Contact</a></li>
			<li><a href="student_list.html">Students</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

    </div>
	</nav>	

	<div class="container">
	  <div class="jumbotron">
	    	<h1>Доброго времени суток! </h1>
			<h2><strong>Description</strong></h2>
			<p class="greetings">Проект контрольного задания для сайта, посвященного курсу изучения связки Python&amp;Django <br>
			<a href="#">CompuBursa!</a> - для тех, кто хочет знать и уметь! <br>
			<strong>Подписывайтесь!</strong>
			</p>
	  </div>
	</div>

	<div class="container">
		<div class="panel panel-primary"> 
			  <div class="panel-heading"> 
				<h2 class="panel-title" align="center"><h2 class="Program">Состав курса:</h2></h2>
			  </div> 
			  <div class="panel-body">
				<div class="row">
				  <div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					  <img src="../static/images/python.png" alt="Python">
					  <div class="caption">
						<h4>Базовий курс Python</h4>
						<ol class="num" >
							<li>Основы <a href="https://www.python.org">Python.</a></li>
							<li>Функции и модули.</li>
							<li>ООП.</li>
							<li>Работа с файлами и датами.</li>
						</ol>
						<p><a href="#" class="btn btn-primary" role="button">Подробнее...</a></p>
					  </div>
					</div>
				  </div>
				  <div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					  <img src="../static/images/django.png" alt="Django">
					  <div class="caption">
						<h4>Фреймворк Django</h4>
						<ol class="num" >
							<li>Основы WEB.</li>
							<li>Основы HTML и теги.</li>
							<li>CSS.</li>
							<li>Работа с <a href="http://getbootstrap.com">Bootstrap.</a></li>
						</ol>
						<p><a href="#" class="btn btn-primary" role="button">Подробнее...</a></p>
					  </div>
					</div>
				  </div>
				  <div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					  <img src="../static/images/git.png" alt="GIT">
					  <div class="caption">
						<h4>GIT и GitHub</h4>
						<ol class="num" >
							<li>Принципы версионирования./</li>
							<li>Введение в  <a href=https://git-scm.com>GIT/</a></li>
							<li>Основные команди GIT.</li>
							<li>Работа с <a href="https://github.com">GitHub/</a></li>
						</ol>
						<p><a href="#" class="btn btn-primary" role="button">Подробнее...</a></p>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
		</div>
	</div>

	<footer class="footer">
      <div class="container">
        <p class="text-muted">&copy <span class="foot">&nbsp :: Volny Ltd. :: &nbsp</span>
			<a href="mailto:privatmail@yahoo.com?Subject=Privat%20Mail_top">
				<span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span> - manklondike.
			</a> 
		</p>
      </div>
    </footer>	
	
    <!-- Bootstrap core JavaScript
          ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	
    <script src="../static/js/bootstrap.js"></script>
	
  </body>
</html>