<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>Данные студентов</title>
  
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Control task">
    <meta name="author" content="VOlny">
	<link rel="icon" href="../static/images/favicon.jpg">
    <title>CompuBursa :: Contacts</title>

	<link rel="shortcut icon" href="favicon.jpg">

    <!-- Bootstrap -->
	<!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">	
	<link href="../static/css/font-awesome.min.css" rel="stylesheet">	
  </head>
  
  <body>
    <div class="container">
	
    <!-- Static navbar -->
	
   <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
	  <strong><a class="navbar-brand" href="index.html" >CompuBursa</a></strong>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Main</a></li>
              <li><a href="contact.html">Contacts</a></li>
              <li><a href="student_list.html">Students</a></li>
            </ul>
          </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </nav>
		
        <div class="jumbotron">
		
            <header>
                <h1><a name=1>Ivanov Ivan</a></h1>
            </header>
            <div>
                <p>Student card</p>
                <table class="table" style="width: 45%">
                    <tr >
                        <td>Surname</td><td>Ivanov</td>
                    </tr>
                    <tr >
                        <td>Name</td><td>Ivan</td>
                    </tr>
                    <tr >
                        <td>Rating</td><td>10</td>
                    </tr>
                    <tr >
                        <td>Birth Date</td><td>21.1.1990</td>
                    </tr>
                    <tr >
                        <td>Address</td><td>USA, Killafornia</td>
                    </tr>
                    <tr >
                        <td>E-mail</td><td>111@gmail.net</td>
                    </tr>
                    <tr >
                        <td>Skype</td><td>111</td>
                    </tr>
                </table>

                <h4>Course Information:</h4>
                <table class="table" style="width: 75%">
                    <tr >
                        <td>Passed courses</td>
                        <td>Week</td>
                        <td>Controls</td>
                        <td>Average Grade</td>
                    </tr>
                    <tr >
                        <td>Install Python</td>
                        <td>Week1</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                            </table>
                        </td>
                    <tr >
                        <td>Base Python commands</td>
                        <td>Week2 - Week4</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                                <tr><td>Problem Task 3</td></tr>
                                <tr><td>Problem Task 4</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>91</td></tr>
                                <tr><td>92</td></tr>
                                <tr><td>93</td></tr>
                                <tr><td>94</td></tr>
                                <tr><td>95</td></tr>
                            </table>
                        </td>

                </table>

            </div>
			
        

	
	            <header>
                <h1><a name=2>Petrov Petr</a></h1>
            </header>
            <div>
                <p>Student card</p>
                <table class="table" style="width: 45%">
                    <tr >
                        <td>Surname</td><td>Petrov</td>
                    </tr>
                    <tr >
                        <td>Name</td><td>Petr</td>
                    </tr>
                    <tr >
                        <td>Rating</td><td>12</td>
                    </tr>
                    <tr >
                        <td>Birth Date</td><td>21.2.1992</td>
                    </tr>
                    <tr >
                        <td>Address</td><td>Poland, Krakow</td>
                    </tr>
                    <tr >
                        <td>E-mail</td><td>222@gmail.net</td>
                    </tr>
                    <tr >
                        <td>Skype</td><td>222</td>
                    </tr>
                </table>

                <h4>Course Information:</h4>
                <table class="table" style="width: 75%">
                    <tr >
                        <td>Passed courses</td>
                        <td>Week</td>
                        <td>Controls</td>
                        <td>Average Grade</td>
                    </tr>
                    <tr >
                        <td>Install Python</td>
                        <td>Week1</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                            </table>
                        </td>
                    <tr >
                        <td>Base Python commands</td>
                        <td>Week2 - Week4</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                                <tr><td>Problem Task 3</td></tr>
                                <tr><td>Problem Task 4</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>91</td></tr>
                                <tr><td>92</td></tr>
                                <tr><td>93</td></tr>
                                <tr><td>94</td></tr>
                                <tr><td>95</td></tr>
                            </table>
                        </td>

                </table>

            </div>
			


	
	            <header>
                <h1><a name=3>Zergin Zen</a></h1>
            </header>
            <div>
                <p>Student card</p>
                <table class="table" style="width: 45%">
                    <tr >
                        <td>Surname</td><td>Zergin</td>
                    </tr>
                    <tr >
                        <td>Name</td><td>Zen</td>
                    </tr>
                    <tr >
                        <td>Rating</td><td>13</td>
                    </tr>
                    <tr >
                        <td>Birth Date</td><td>23.3.1993</td>
                    </tr>
                    <tr >
                        <td>Address</td><td>GB, London</td>
                    </tr>
                    <tr >
                        <td>E-mail</td><td>333@gmail.net</td>
                    </tr>
                    <tr >
                        <td>Skype</td><td>333</td>
                    </tr>
                </table>

                <h4>Course Information:</h4>
                <table class="table" style="width: 75%">
                    <tr >
                        <td>Passed courses</td>
                        <td>Week</td>
                        <td>Controls</td>
                        <td>Average Grade</td>
                    </tr>
                    <tr >
                        <td>Install Python</td>
                        <td>Week1</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                            </table>
                        </td>
                    <tr >
                        <td>Base Python commands</td>
                        <td>Week2 - Week4</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                                <tr><td>Problem Task 3</td></tr>
                                <tr><td>Problem Task 4</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>91</td></tr>
                                <tr><td>92</td></tr>
                                <tr><td>93</td></tr>
                                <tr><td>94</td></tr>
                                <tr><td>95</td></tr>
                            </table>
                        </td>

                </table>

            </div>
			

	
	            <header>
                <h1><a name=4>Oblomoff Billy</a></h1>
            </header>
            <div>
                <p>Student card</p>
                <table class="table" style="width: 45%">
                    <tr >
                        <td>Surname</td><td>Oblomoff</td>
                    </tr>
                    <tr >
                        <td>Name</td><td>Billy</td>
                    </tr>
                    <tr >
                        <td>Rating</td><td>14</td>
                    </tr>
                    <tr >
                        <td>Birth Date</td><td>21.4.1994</td>
                    </tr>
                    <tr >
                        <td>Address</td><td>Guatemala, Guate</td>
                    </tr>
                    <tr >
                        <td>E-mail</td><td>444@gmail.net</td>
                    </tr>
                    <tr >
                        <td>Skype</td><td>444</td>
                    </tr>
                </table>

                <h4>Course Information:</h4>
                <table class="table" style="width: 75%">
                    <tr >
                        <td>Passed courses</td>
                        <td>Week</td>
                        <td>Controls</td>
                        <td>Average Grade</td>
                    </tr>
                    <tr >
                        <td>Install Python</td>
                        <td>Week1</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                            </table>
                        </td>
                    <tr >
                        <td>Base Python commands</td>
                        <td>Week2 - Week4</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                                <tr><td>Problem Task 3</td></tr>
                                <tr><td>Problem Task 4</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>91</td></tr>
                                <tr><td>92</td></tr>
                                <tr><td>93</td></tr>
                                <tr><td>94</td></tr>
                                <tr><td>95</td></tr>
                            </table>
                        </td>

                </table>

            </div>
			

	
	            <header>
                <h1><a name=5>Sahidov Jogh</a></h1>
            </header>
            <div>
                <p>Student card</p>
                <table class="table" style="width: 45%">
                    <tr >
                        <td>Surname</td><td>Sahidov</td>
                    </tr>
                    <tr >
                        <td>Name</td><td>Jogh</td>
                    </tr>
                    <tr >
                        <td>Rating</td><td>15</td>
                    </tr>
                    <tr >
                        <td>Birth Date</td><td>21.5.1995</td>
                    </tr>
                    <tr >
                        <td>Address</td><td>Urugvai, Mombai</td>
                    </tr>
                    <tr >
                        <td>E-mail</td><td>555@gmail.net</td>
                    </tr>
                    <tr >
                        <td>Skype</td><td>555</td>
                    </tr>
                </table>

                <h4>Course Information:</h4>
                <table class="table" style="width: 75%">
                    <tr >
                        <td>Passed courses</td>
                        <td>Week</td>
                        <td>Controls</td>
                        <td>Average Grade</td>
                    </tr>
                    <tr >
                        <td>Install Python</td>
                        <td>Week1</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                                <tr><td>90</td></tr>
                            </table>
                        </td>
                    <tr >
                        <td>Base Python commands</td>
                        <td>Week2 - Week4</td>
                        <td>
                            <table>
                                <tr><td>Tests</td></tr>
                                <tr><td>Problem Task 1</td></tr>
                                <tr><td>Problem Task 2</td></tr>
                                <tr><td>Problem Task 3</td></tr>
                                <tr><td>Problem Task 4</td></tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr><td>91</td></tr>
                                <tr><td>92</td></tr>
                                <tr><td>93</td></tr>
                                <tr><td>94</td></tr>
                                <tr><td>95</td></tr>
                            </table>
                        </td>

                </table>

            </div>
			
        </div>
    </div>
	
	

	<footer class="footer">
      <div class="container">
        <p class="text-muted">&copy <span class="foot">&nbsp :: Volny Ltd. :: &nbsp</span>
			<a href="mailto:privatmail@yahoo.com?Subject=Privat%20Mail_top">
				<span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span> - manklondike.
			</a> 
		</p>
      </div>
    </footer>	
	
    <!-- Bootstrap core JavaScript
          ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	
    <script src="../static/js/bootstrap.js"></script>
	
  </body>
</html>