{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Detail</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">HappyBursa</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Main</span></a></li>
                <li><a href="{% url 'contact' %}">Contacts</a></li>
                <li class="active"><a href="{% url 'student_list' %}">Students</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<main class="student-detail">
    <h1 class="student-detail__title">Ivanov Ivan</h1>
    <img src="{% static 'images/Ivan-Dorn.jpg' %}" alt="Student Photo" class="student-detail__image">
    <a href="student_detail.html" class="student-detail__about">Студент о себе</a>
    <div class="table__main-holder">
        <div class="table__wrapper">
            <span class="student-detail__table-title">Students card</span>
            <div class="table student-detail__table">
                <div class="table__row"><span class="table__cell">Surname</span><span class="table__cell">Ivanov</span></div>
                <div class="table__row"><span class="table__cell">Name</span><span class="table__cell">Ivan</span></div>
                <div class="table__row"><span class="table__cell">Patronymic</span><span class="table__cell">Ivanovi4</span></div>
                <div class="table__row"><span class="table__cell">Rating</span><span class="table__cell">20</span></div>
                <div class="table__row"><span class="table__cell">Average Grade</span><span class="table__cell">99.9</span></div>
                <div class="table__row"><span class="table__cell">Package</span><span class="table__cell">Std</span></div>
                <div class="table__row"><span class="table__cell">Birth Date</span><span class="table__cell">10/02/1981</span></div>
                <div class="table__row"><span class="table__cell">Address</span><span class="table__cell">Украина Киев Незалежности 1</span></div>
                <div class="table__row"><span class="table__cell">E-mail</span><span class="table__cell">00010</span></div>
                <div class="table__row"><span class="table__cell">Skype</span><span class="table__cell">Ivanov212</span></div>
            </div>
        </div>
        <div class="table__wrapper">
            <span class="student-detail__table-title">Performance</span>
            <div class="table performance-table">
                <div class="table__row table__row--head">
                    <span class="table__cell">Course</span>
                    <span class="table__cell">Week</span>
                    <span class="table__cell">Control Type</span>
                    <span class="table__cell">Grade</span>
                </div>
                <div class="table__row">
                    <span class="table__cell">PY101 Введение в Python</span>
                    <span class="table__cell">Week 1</span>
                    <span class="table__cell">Tests</span>
                    <span class="table__cell">99%</span>
                </div>
                <div class="table__row">
                    <span class="table__cell"></span>
                    <span class="table__cell"></span>
                    <span class="table__cell">Problem Task #1</span>
                    <span class="table__cell">100%</span>
                </div>
                <div class="table__row">
                    <span class="table__cell"></span>
                    <span class="table__cell"></span>
                    <span class="table__cell">Problem Task #2</span>
                    <span class="table__cell">100%</span>
                </div>
                <div class="table__row">
                    <span class="table__cell"></span>
                    <span class="table__cell">Week 2</span>
                    <span class="table__cell">Tests</span>
                    <span class="table__cell">100%</span>
                </div>
                <div class="table__row">
                    <span class="table__cell"></span>
                    <span class="table__cell"></span>
                    <span class="table__cell">Problem Task #1</span>
                    <span class="table__cell">100%</span>
                </div>
            </div>
        </div>
    </div>


</main>
</body>
</html>