<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>Списoк студентов</title>
  
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Control task">
    <meta name="author" content="VOlny">
	<link rel="icon" href="../static/images/favicon.jpg">
    <title>CompuBursa :: Contacts</title>

	<link rel="shortcut icon" href="favicon.jpg">

    <!-- Bootstrap -->
	<!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">	
	<link href="../static/css/font-awesome.min.css" rel="stylesheet">	
  </head>
  
  <body>
  
  <div class="container">
  
    <!-- Static navbar -->
	
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
	  <strong><a class="navbar-brand" href="index.html" >CompuBursa</a></strong>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Main</a></li>
              <li><a href="contact.html">Contacts</a></li>
              <li><a href="student_list.html">Students</a></li>
            </ul>
          </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </nav>
	
	<div class="container">
	  <div class="jumbotron">
	    	<h1>Студенты курса:</h1>
	  </div>
	</div>
	
    <table class="table">
        <tr >
            <td>No</td><td>Surname</td><td>Name</td><td>Address</td><td>Skype</td>
        </tr>
        <tr>
            <td><a href="student_detail.html#1">1</a></td><td>Ivanov</td><td>Ivan</td><td>USA, Killafornia</td><td>111</td>
        </tr>
        <tr>
            <td><a href="student_detail.html#2">2</a></td><td>Petrov</td><td>Petr</td><td>Poland, Krakow</td><td>222</td>
        </tr>
        <tr>
            <td><a href="student_detail.html#3">3</a></td><td>Zergin</td><td>Zen</td><td>GB, London</td><td>333</td>
        </tr>
        <tr>
            <td><a href="student_detail.html#4">4</a></td><td>Oblomoff</td><td>Billy</td><td>Guatemala, Guate</td><td>444</td>
        </tr>
        <tr>
            <td><a href="student_detail.html#5">5</a></td><td>Sahidov</td><td>Jogh</td><td>Urugvai, Mombai</td><td>555</td>
        </tr>
      </table>
	  
  </div>

	<footer class="footer">
      <div class="container">
        <p class="text-muted">&copy <span class="foot">&nbsp :: Volny Ltd. :: &nbsp</span>
			<a href="mailto:privatmail@yahoo.com?Subject=Privat%20Mail_top">
				<span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span> - manklondike.
			</a> 
		</p>
      </div>
    </footer>	
	
    <!-- Bootstrap core JavaScript
          ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	
    <script src="../static/js/bootstrap.js"></script>
	
</body>
<!-- </html> -->