<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>О студенте</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PyBursa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Main</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="active"><a href="#">Student_list<span class="sr-only">(current)</span></a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

  <h1>Сидоров Алексей</h1>
    
       <div class="row">

          <div class="blog-post">
     
          <table class="table table-bordered" ,="" style="width: 50%">
         
            <tbody><tr><td class="student_info">Surname</td><td>Ivanov</td></tr>
            <tr><td class="student_info">Name</td><td>Name</td></tr>
            <tr><td class="student_info">Patronymic</td><td>Ivanovich</td></tr>
            <tr><td class="student_info">Rating</td><td>1</td></tr>
            <tr><td class="student_info">Average Grade</td><td>100</td></tr>
            <tr><td class="student_info">Package</td><td>Standart</td></tr>
            <tr><td class="student_info">Birth Date</td><td>11/02/1898</td></tr>
            <tr><td class="student_info">Post</td><td>61010</td></tr>
            <tr><td class="student_info">Skype</td><td>ivanov</td></tr>         
</div>
  <div class="container">
  <tbody><table class="table">
    <td>Course</td>
    <td>week</td>
    <td>Control type</td>
    <td>grade</td>
  </tr>
  <tr>
    <td>PY101</td>
    <td>week1</td>
    <td>tests</td>
    <td>100%</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Problem task #1</td>
    <td>100%</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Problem task #2</td>
    <td>100%</td>
  </tr>
  <tr>
    <td></td>
    <td>week2</td>
    <td>tests</td>
    <td>100%</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Problem task #1</td>
    <td>100%</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Problem task #2</td>
    <td>100%</td>
  </tr>
  </table>
</div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
