<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Detail about student</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">ItBursa</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="index.html">Main</a></li>
        <li><a href="contact.html">Contacts</a></li>
        <li class="active"><a href="student_list.html">Students</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h2>Marie Curie</h2>
    <img src="../static/images/madame-curie.jpg" alt="this is Madame Curie" style="width:512px;">
    <h6>(I won the Nobel)</h6>
    <h4>Student's card</h4>
    <table>
      <tr>
        <th>Surname</th>
        <td>Curie</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>Marie</td>
      </tr>
      <tr>
        <th>Patronymic</th>
        <td>...</td>
      </tr>
      <tr>
        <th>Birth Date</th>
        <td>7.11.1867</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>Warszawa, Poland</td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td>radioactive_girl@gmail.com</td>
      </tr>
      <tr>
        <th>Skype</th>
        <td>radioactive_girl</td>
      </tr>
      </table>
      <h4>Performance</h4>
      <table>
      <tr>
        <th>Problem Task</th>
        <th>...</th>
      </tr>
      <tr>
        <th>Tests</th>
        <td>...</td>
      </tr>
      <tr>
        <th>Average Grade</th>
        <td>10/10</td>
      </tr>
      <tr>
        <th>Rating</th>
        <td>1-st</td>
      </tr>
      </table>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
