<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contacts page</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default">
	  	<div class="container-fluid">
	  	
		    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      </button>
		      <a class="navbar-brand" href="#">ITBursa</a>
	    	</div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="index.html">Main</a></li>
		        <li><a href="contact.html">Contacts</a></li>
		        <li class="active"><a href="student_list.html">Students<span class="sr-only">(current)</span></a></li>
		      </ul>
		    </div>

	  	</div>
		</nav>

    <div class="container">
      <h1 class="students">Студенты курса PyBursa</h1>
      <h2 class="students">Ниже представлен выпуск студентов, выпуск апреля 2017 года</h2><br>

      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>No</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Address</th>
            <th>Skype</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="student_detail.html">1</a></th>
            <td>Стрилецкий</td>
            <td>Дмитрий</td>
            <td>Торвальдса 79</td>
            <td>l3n1nskiy</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Малявин</td>
            <td>Михаил</td>
            <td>Чубаря 3А</td>
            <td>malyavin_mihail</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Брулаков</td>
            <td>Алексей</td>
            <td>Чорновола 5Б</td>
            <td>meowmeow</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Леонидов</td>
            <td>Максим</td>
            <td>Шепелева 2</td>
            <td>leonidov_maxim</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Мазур</td>
            <td>Артем</td>
            <td>Кукесова 15</td>
            <td>mazur_artem</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </body>
</html>