div.style1 {color: #398439;height: 75%}
p.style2 {color: #2b542c;height: 55%;font-weight: 200}
h2.style3 {color: #ac2925; font-size: 80%; height: 85%}
h1.style4 {color: darkorange; align-items: center; align-content: space-around}
p.style5 {color: #8a6d3b; font-kerning: normal; align-items: center}
p.style6 {color: #8a6d3b; font-kerning: normal; align-items: center}
header.style7 {color: #8a6d3b; font-kerning: none; align-items: center}
content.style8 {color: #d9534f; font-kerning: normal; align-items: baseline}
div.style9 {color: #b9def0; font-kerning: normal; align-items: stretch}
caption.style0 {color: #003366; font-kerning: auto; align-items: baseline}